.top {
  background:linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0.86) 0%,
    hsla(0, 0%, 0%, 0.827) 17.2%,
    hsla(0, 0%, 0%, 0.786) 31.6%,
    hsla(0, 0%, 0%, 0.738) 43.6%,
    hsla(0, 0%, 0%, 0.685) 53.5%,
    hsla(0, 0%, 0%, 0.627) 61.5%,
    hsla(0, 0%, 0%, 0.566) 67.9%,
    hsla(0, 0%, 0%, 0.502) 73%,
    hsla(0, 0%, 0%, 0.435) 77%,
    hsla(0, 0%, 0%, 0.368) 80.4%,
    hsla(0, 0%, 0%, 0.301) 83.2%,
    hsla(0, 0%, 0%, 0.235) 85.8%,
    hsla(0, 0%, 0%, 0.171) 88.5%,
    hsla(0, 0%, 0%, 0.11) 91.6%,
    hsla(0, 0%, 0%, 0.053) 95.4%,
    hsla(0, 0%, 0%, 0) 100%
  );
}
.bottom {
    background:linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.009) 4.8%,
      hsla(0, 0%, 0%, 0.033) 9.1%,
      hsla(0, 0%, 0%, 0.07) 12.9%,
      hsla(0, 0%, 0%, 0.118) 16.5%,
      hsla(0, 0%, 0%, 0.175) 20.1%,
      hsla(0, 0%, 0%, 0.238) 24%,
      hsla(0, 0%, 0%, 0.305) 28.2%,
      hsla(0, 0%, 0%, 0.374) 33%,
      hsla(0, 0%, 0%, 0.442) 38.6%,
      hsla(0, 0%, 0%, 0.506) 45.2%,
      hsla(0, 0%, 0%, 0.565) 53%,
      hsla(0, 0%, 0%, 0.616) 62.1%,
      hsla(0, 0%, 0%, 0.658) 72.9%,
      hsla(0, 0%, 0%, 0.686) 85.5%,
      hsla(0, 0%, 0%, 0.7) 100%
    );
  }
  .forNow {
    background:linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0.93) 0%,
      hsla(0, 0%, 0%, 0.928) 11.1%,
      hsla(0, 0%, 0%, 0.924) 21.2%,
      hsla(0, 0%, 0%, 0.916) 30.4%,
      hsla(0, 0%, 0%, 0.904) 38.7%,
      hsla(0, 0%, 0%, 0.885) 46.4%,
      hsla(0, 0%, 0%, 0.858) 53.3%,
      hsla(0, 0%, 0%, 0.822) 59.7%,
      hsla(0, 0%, 0%, 0.775) 65.6%,
      hsla(0, 0%, 0%, 0.714) 71.1%,
      hsla(0, 0%, 0%, 0.64) 76.3%,
      hsla(0, 0%, 0%, 0.55) 81.2%,
      hsla(0, 0%, 0%, 0.442) 86%,
      hsla(0, 0%, 0%, 0.316) 90.6%,
      hsla(0, 0%, 0%, 0.169) 95.3%,
      hsla(0, 0%, 0%, 0) 100%
    );
  };